*{
	font-family: 'Fredoka One', cursive;
	color: white;
	line-height: 50px;
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/

}

body{
	background-color: #B3D892;
}

.elem{
	text-align: center;
}

#title{
	font-size: 100px;
	display: block;

}

#feel{
	font-size: 40px;
	display: block;

}

.emoji{
	float: left;
	display: inline;
	font-size: 24px;
	width: 100px;
}



#moods{
	 position: fixed;
    height: 200px;
    width: 600px;
    margin: -100px 0 0 -300px;
    top: 50%;
    left: 50%;
 
    text-align: center;
}
img{
	height: 90px;
	width: 90px;
}

#footer{
	position: fixed;
	height: 200px;
	width: 200px;
	margin: -100px 0 0 -100px;
	top: 100%;
	left: 50%;
	text-align: center;
	
}
#play{
	position: fixed;
    height: 200px;
    width: 600px;
    margin: -100px 0 0 -300px;
    top: 50%;
    left: 50%;
  	top: 85%;
 
    text-align: center;
	
}


li{
	list-style-type: none;
	display: inline;
	padding-right: 25px;
	padding-left: 25px;
}

a{
	text-decoration: none;
	color: #119867;
}
a:hover{
	color: #0C7F55;
}
img:hover{
	opacity: 0.8;
}
li:hover{
	cursor: pointer;
	opacity: 0.5;
}

button{
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}
#song{
	position: fixed;
    height: 200px;
    width: 600px;
    margin: -100px 0 0 -300px;
    top: 92%;
    left: 50%;
    text-align: center;
    visibility: hidden;
}
